
body{
	position: relative;
	left:0px;
	top:0px;
	bottom: 0px; 
	margin: 0px;
	background:#b48800;
}
*{
	box-sizing: border-box;
}
.other_content,article{
	position: relative;
	left:20px;
	top:10px;
	width: 60%;
}
p{
	color:black;
}
h1,h2,h3,h4{
	color: black;
	font-family: "Trebuchet MS", Helvetica, sans-serif;

}
a{
	color:#111111;
}
a:hover{
	color:#900030;
}

.aside-div a{
	color:#111111;
}

.aside-div a:hover{
	color:#b48800;
}

.aside-div{
	padding-left: 30px;
	padding-top: 100px;
	color: #b48800;

}
.section_style{
	position:relative;
	top:10px;
	margin: 10px;


}
.side-section-style{
	position:relative;

}
aside{
	position: absolute;
	background-color: #660022;
	width: 40%;
	height: 120%;
	right: 0px;
	top: 0px;
	bottom: 0px;
}
footer{
	position: relative;
	top:100px;
}